.preview-img-container{
    .label-upload{
        padding: 5px;
        border-radius: 3px;
        background: #ddd;
        cursor: pointer;
    
        &:hover{
            opacity: 0.9;
        }
    }

    .preview-image{
        height: 70px;
        width: 100%;
        border: 1px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}

.manage-medical-package-container{
    padding: 0 15px;

    .ms-title{
        text-align: center;
        margin: 10px 0;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 600;
    }

    .add-new-medical-package{
        .btn-save-medical-package{
            border:none;
            background: #0071ba;
            padding: 8px 5px;
            min-width: 75px;
            border-radius: 5px;
            margin: 15px 0;
            color:white
        }
    }
}