.medicalPackage-extra-infor-container{
    padding-left: 15px;

    .content-up{
        margin-bottom: 10px;

        .text-address{
            text-transform: uppercase;
            color: #333;
        }
        .name-clinic{
            padding: 5px 0;
            font-weight: 600;
            color: #333;

        }
        .detail-address{
            font-weight: 600;
            color: #333;
        }
    }

    .content-down{
        .short-infor{

            .currency{
                margin:0 5px;
            }
            .detail{
                cursor: pointer;
                color: rgba(72,196,211,1.00);
            }
        }
        
        .title-price{
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        .detail-infor{
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #f8f8f8;

            .price{
                padding-bottom: 5px;
                .right{
                    float:right;
                }
            }

            .note{

            }
        }

        .payment{
            border: 1px solid #ddd;
            padding: 5px;
            background: #eee;
        }

        .hide-price{
            margin-top: 10px;

            span{
                cursor: pointer;
                color: rgba(72,196,211,1.00);
            }
        }
    }
}