#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .btn-edit{
      width: 50;
      border:none;
      outline: none;
      background: transparent;
      color: orange;
      &:hover{
          background-color: transparent !important;
          color: orange !important;
      }
  }
  .btn-delete{
    width: 50;
    border:none;
    outline: none;
    background: transparent;
    color: rgb(235,15,15);
    &:hover{
        background-color: transparent !important;
        color: rgb(235,15,15) !important;
    }

    .btn-container {
        display: flex;
        justify-content: center;
      }
      
      .btn-container button {
        margin: 0 5px; /* Điều chỉnh khoảng cách giữa các nút */
      }
      
}

.modal-user-container{
    .modal-content{
        .modal-header{
            .close{
                background-color: transparent !important;
                color: white;
                border: none;
                font-size: 27px;
            }
        }
    }
    .modal-user-body{
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        .input-container{
            display: flex;
            flex-direction: column;
            width: 49%;
            height: 48px;
    
            &.max-withd-input{
                width: 100%;
            }
            &.min-withd-input{
                width: 32%;
            }

            .input{
                border-radius: 3px;
                border: 1px solid gray;
                height: 30px;
                outline: none;
                padding: 0 10px;
            }
        }
    }
}