.manage-doctor-container{
    padding: 10px;

    .manage-doctor-title{
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .save-content-doctor{
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background: orange;
        color: black;
        cursor: pointer;

        &:hover{
            opacity: 0.9;
        }
    }

    .create-content-doctor{
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background: #0071ba;
        color: white;
        cursor: pointer;

        &:hover{
            opacity: 0.9;
        }
    }

    .more-infor{
        display: flex;
        gap:15px;
        padding-bottom: 15px;
        border-radius: 20%;

        .content-left{
            width: 32%;
        }

        .content-right{
            width: 67%;
        }
    }
}