.section-customize-clinic {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-color: #45c3d2;
    border-radius: 20px;
    border: 1px solid #45c3d2;
    //height:500px;
  
    &:hover {
      color: #45c3d2;
      transform: translateY(-10px);
      border-color: #45c3d2; /* Thay đổi màu viền khi hover */
    }
  
    .bg-image {
      border-radius: 20px;
    //   width: 100%;
    //   height: 100%;
    background-position: center center !important;
    display: flex !important;
    background-size: cover !important;
    max-width: 200px;
    max-height: 200px;
    width : 200px;
    height: 200px;
      margin-right: 10px;
    }
    .item-content {
        flex-grow: 1;
        overflow: hidden;
        display: flex !important;
        flex-direction: column !important; /* Hiển thị các phần tử con theo chiều dọc */
      }
  
    .clinic-name {
    //   font-weight: bold;
    //   order: -1;
    font-weight: 600 !important; /* Tương đương với việc in đậm */
    font-size: 15px !important; /* Kích thước font 20px */

    }
  
  }
  .section-customize-clinic-row {
    display: flex;
  }
  
  .section-customize-clinic {
    flex: 1;
    margin-right: 10px; /* Khoảng cách giữa các mục */
    .last-child {
      margin-right: 0; /* Loại bỏ khoảng cách cho mục cuối cùng */
    }
  }
  .section-customize-clinic-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Các mục sẽ căn cứ vào lề trái và lề phải của container */
    gap: 10px; /* Khoảng cách giữa các mục */
  }
  
//   .section-customize-clinic.clinic-child {
//     flex-basis: calc(50% - 5px); /* Căn chỉnh chiều rộng cho mỗi mục */
//   }
  
  .section-body-clinic {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Khoảng cách giữa các mục */
  }
  
  .section-customize-clinic.clinic-child {
    display: flex !important;
    flex-direction: column !important;
    flex-basis: calc(25% - 25px); /* Căn chỉnh chiều rộng cho mỗi mục */
    max-width: calc(25% - 25px); /* Giới hạn kích thước tối đa của mỗi mục */
    margin-bottom: 10px; /* Khoảng cách dưới cho mỗi mục */
    //height: 120px;
    &:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Tạo hiệu ứng bóng xung quanh khi di chuột vào */
    }
  }

  